body {
    background-color: rgb(24, 3, 3);
    font-family: monospace;
    text-align: center;
}

div {
    padding: 20px;
}

h1 {
    color: rgb(185, 36, 36);
    font-size: 70px;
    font-family: 'Brush Script MT' , cursive;
}

h3 {
    color: rgb(199, 95, 95);
    font-family: 'Brush Script MT' , cursive;
    font-size: 30px;
    padding: 5px;
}

p {
    color: white;
    font-size: 15px;
    font-family: 'Trebuchet MS', sans-serif;
}